<nav class="nav" id="navbar">
  <div class="nav-inner">
    <div class="nav-left">
      <a href="mo26.html" class="nav-link nav-link-mo26" data-navlink="mo26">MO26</a>
      <a href="mo25.html" class="nav-link" data-navlink="mo25">MO25</a>
      <a href="ranklista.html" class="nav-link" data-navlink="ranklista">Ранк листа</a>
      <a href="doniraj.html" class="nav-link" data-navlink="doniraj">Донирај</a>
    </div>
    <div class="nav-center">
      <a href="index.html"><img src="logo.png" class="nav-logo" alt="Mavrovo Open" style="height:40px;width:auto"></a>
    </div>
    <div class="nav-right">
      <a href="index.html" class="nav-link" data-navlink="index">Дома</a>
      <a href="about.html" class="nav-link" data-navlink="about">За нас</a>
      <a href="mo26.html#prijava" class="nav-link nav-link-cta" data-navlink="prijava">Пријави се</a>
      <a href="partner.html" class="nav-link" data-navlink="partner">Стани партнер</a>
    </div>
    <button class="hamburger" onclick="toggleMenu()"><span></span><span></span><span></span></button>
  </div>
  <div class="mobile-menu" id="mobileMenu">
    <a href="mo26.html" class="mobile-link nav-link-mo26" data-navlink="mo26">MO26</a>
    <a href="mo25.html" class="mobile-link" data-navlink="mo25">MO25</a>
    <a href="ranklista.html" class="mobile-link" data-navlink="ranklista">Ранк листа</a>
    <a href="doniraj.html" class="mobile-link" data-navlink="doniraj">Донирај</a>
    <a href="index.html" class="mobile-link" data-navlink="index">Дома</a>
    <a href="about.html" class="mobile-link" data-navlink="about">За нас</a>
    <a href="mo26.html#prijava" class="mobile-link" data-navlink="prijava">Пријави се</a>
    <a href="partner.html" class="mobile-link" data-navlink="partner">Стани партнер</a>
  </div>
</nav>
